@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* For Webkit browsers to allow directory drop */
input[type="file"]::-webkit-directory-upload-button {
	display: none;
}

/* Custom scrollbar for a cleaner look */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(203, 213, 225, 0.1); /* slate-300 with opacity */
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: rgba(100, 116, 139, 0.4); /* slate-500 with opacity */
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(71, 85, 105, 0.6); /* slate-600 with opacity */
}
